/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500;9..40,700&family=Open+Sans:wght@300;400&family=Roboto:wght@100&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'DM Sans', sans-serif;
  /* background: #fff; */
  /* color: #333; */
  line-height: 1.6;
}

ul {
  list-style: none;
}

ul.list-show {
  list-style: show;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space;
  /* background-color: #333; */
  background: linear-gradient(to right, #8196d9, #6680b3, #5c78cf);
  /* background: #8196d9; */
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  /* top: 0; */
  padding: 0 30px;
  transition: 0.5s;
}

.navbar.top {
  background: transparent;
  z-index: 11;
}

.navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
  font-weight: 200;
}

.navbar a:hover {
  border-bottom: #da544a 4px solid;
}

.navbar a.active {
  font-weight: bold;
  font-style: italic;
  border-bottom: #da544a 4px solid;
}

.navbar ul {
  display: flex;
}

.navbar .logo {
  font-weight: 400;
  margin-right: 50px;
}

/* Header of Jumbotron */
.hero {
  background: url('../images/asset/Earth.png') no-repeat center center/contain,
    linear-gradient(to right, #8196d9, #6680b3, #5c78cf);
  height: 100vh;
  position: relative;
  color: #fff;
}

/* positioning on center (flex column for all items) */
.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  height: 100%;
  padding: 0 20px;
}

.hero .content h1 {
  font-size: 48px;
}

.hero .content p {
  font-size: 20px;
  max-width: 600px;
  margin: 50px 0 30px;
}

/* psudeo class for Overlay */
.hero::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: red; */
  /* background: rgba(0, 0, 0, 0.6); */
}

.hero * {
  z-index: 10;
}

.hero.blog {
  /* background: url('../images/home/blog.jpg') no-repeat center center/cover; */
  background: url('../images/asset/Earth.png') no-repeat center center/contain,
    linear-gradient(to right, #8196d9, #6680b3, #5c78cf);
  height: 30vh;
}

.hero.scorecard {
  background: url('../images/asset/Earth.png') no-repeat center center/contain,
    linear-gradient(to right, #8196d9, #6680b3, #5c78cf);
  height: 80vh;
  position: relative;
  color: #fff;
}

/* flex items */
.flex-items {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
}

.flex-items > div {
  /* padding: 20px; */
  /* border: 1px solid; */
  border-radius: 5%;
  margin: 10px;
}

.flex-items .card {
  background: #fff;
}

.flex-items .card img {
  border-radius: 5%;
}

.flex-items .content {
  padding: 10px 30px;
  text-align: left;
}

/* podcast  - old section*/
.testimony-item {
  height: fit-content;
}

.podcast-content {
  align-items: center;
}

/* programs */
#program {
  padding: 50px;
}

.program-content {
  border-radius: 50px;
}

.icon-jurusan {
  background: url(../images/asset/Group\ 610.png);
}

.premium-btn a {
  margin-right: 20px;
}

/* footer */
#subscribe {
  background: url('../images/asset/Subtract.png') no-repeat center left/auto,
    linear-gradient(to left, #8196d9, #6680b3, #5c78cf);
  height: 119vh;
  /* #c9d2ef, #6680b3, #8196d9 */
  /* background: url('../images/home/showcase.jpg') no-repeat center center/cover; */
  /* background: #8196d9; */
}

/* .footer {
  height: 50vh;
  position: relative;
  color: #fff;
} */

.footer .content {
  display: flex;
  /* will make child direct to coulmn, center position */
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  /* full height like parent */
  height: 100%;
  padding: 0 20px;
}

/* end old section */

/* galery */
.galery img:hover {
  opacity: 0.7;
}

/* teams */
.team img {
  border-radius: 5%;
}

/* subscribe form */
.callback-form {
  width: 100%;
  padding: 20px 0;
}

.callback-form label {
  display: block;
  margin-bottom: 5px;
  width: 50%;
}

.callback-form .form-control {
  margin-bottom: 15px;
}

.callback-form input {
  /* width: 100%; */
  /* padding: 4px; */
  width: 50%;
  padding: 10px;
  height: 40px;
  border: #f5f5f5 1px solid;
  border-radius: 20px;
}

.callback-form input.solid {
  /* width: 100%; */
  /* padding: 4px; */
  width: 50%;
  padding: 10px;
  height: 40px;
  border: #333 1px solid;
  border-radius: 20px;
}

.callback-form input:focus {
  outline-color: #28a745;
}

.callback-form .btn {
  padding: 12px 0;
  margin-top: 20px;
}

/* blog */
.post {
  padding: 50px 30px;
}

.post.blog {
  padding: 50px 100px;
}

.post.scorecard {
  border-bottom: #ccc solid 1px;
}

.post h2 {
  font-size: 40px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: #ccc solid 1px;
}

.post h1 {
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 43px;
  width: 73%;
}

.post.blog h2,
.post.blog .meta {
  text-align: center;
}

.post .meta {
  margin-bottom: 30px;
}

.post img {
  /* width: 300px; */
  /* border-radius: 50%; */
  width: 60%;
  display: block;
  margin: 0 auto 30px;
  height: 500px;
}

/* footer */
.footer {
  /* flex-direction: column; */
  /* justify-content: center; */
  /* height: 200px; */
  /* new */
  /* display: flex; */
  /* flex-direction: row;
  align-items: center;
  justify-content: space-between; */
  text-align: left;
  padding: 50px;
}

.footer .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer .column {
  display: flex;
  flex-direction: column;
}

.footer .column nav {
  margin: 20px 0;
}

.footer .column-3 {
  text-align: right;
}

.footer .contact-us {
  margin-top: 20px;
}

.footer .barcode {
  display: inline-block;
  min-width: 0;
}

.footer .row img {
  width: 100px;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: #28a745;
}

.footer .social > * {
  margin-right: 30px;
}

.list-show {
  margin-left: 40px;
}

/* mobile */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: 120px;
    padding: 20px;
  }

  .navbar a {
    padding: 10px 10px;
    margin: 0 3px;
  }

  .hero,
  .hero.scorecard {
    height: 150vh;
    display: flex;
    flex-direction: column;
    /* position: relative; */
    color: #fff;
  }

  #subscribe {
    height: 500px;
  }

  .subscribe .row,
  .subscribe .column,
  .subscribe .column-2 {
    padding: 10px;
  }

  .subscribe img {
    width: 100%;
  }

  .subscribe .column-1 {
    display: none;
  }

  .flex-items {
    flex-direction: column;
  }

  .flex-columns .column,
  .flex-grid .column {
    flex: 100%;
    max-width: 100%;
  }

  .team img {
    width: 70%;
  }

  .post h1 {
    width: 100%;
  }
}
